html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 132, 180);
    background-color: #fff;
}

canvas {
    background-color: #fff;
}